<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Document</title>
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
   <style>
      #toggle-nav-id{
         border: 2px solid black;
         padding: 4px;
         margin: 1px;
         background-color: yellowgreen;
      }
      .container-fluid {
         margin: 0px;
      }
   </style>
</head>
<body>
   <div class="row container-fluid" >
      <div class="col-md-2 col-sm-3" id="toggle-nav-id">
         <a href="admin.php">
            <i class="glyphicon glyphicon-home"></i>
            <span>My Dashboard</span>
         </a>
      </div>
      <div class="col-md-2 col-sm-3" id="toggle-nav-id">
         <a href="#" class="submenu-toggle">
            <i class="glyphicon glyphicon-user"></i>
            <span>User Management</span>
         </a>
         <ul class="nav submenu">
            <li><a href="group.php">Manage Groups</a> </li>
            <li><a href="users.php">Manage Users</a> </li>
         </ul>
      </div>
      <div class="col-md-2 col-sm-3" id="toggle-nav-id">
         <a href="category.php" >
            <i class="glyphicon glyphicon-indent-left"></i>
            <span>Manage Category</span>
         </a>
      </div>
      <div class="col-md-2 col-sm-3" id="toggle-nav-id">
         <a href="#" class="submenu-toggle">
            <i class="glyphicon glyphicon-th-large"></i>
            <span>Products</span>
         </a>
         <ul class="nav submenu">
            <li><a href="product.php">Manage products</a> </li>
            <li><a href="add_product.php">Add product</a> </li>
         </ul>
      </div>
      <div class="col-md-2 col-sm-3" id="toggle-nav-id">
         <a href="media.php" >
            <i class="glyphicon glyphicon-picture"></i>
            <span>Manage Images</span>
         </a>
      </div>
      <div class="col-md-2 col-sm-3" id="toggle-nav-id">
         <a href="#" class="submenu-toggle">
            <i class="glyphicon glyphicon-th-list"></i>
            <span>Sales</span>
            </a>
            <ul class="nav submenu">
               <li><a href="sales.php">Manage Sales</a> </li>
               <li><a href="add_sale.php">Add Sale</a> </li>
         </ul>
      </div>
      <div class="col-md-2 col-sm-3" id="toggle-nav-id">
         <a href="#" class="submenu-toggle">
            <i class="glyphicon glyphicon-signal"></i>
            <span>Sales Report</span>
         </a>
         <ul class="nav submenu">
            <li><a href="sales_report.php">Sales by dates </a></li>
            <li><a href="monthly_sales.php">Monthly sales</a></li>
            <li><a href="daily_sales.php">Daily sales</a> </li>
         </ul>
      </div>
   </div>
</body>
</html>